.cartBackground {
    z-index: 2;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0,0.6);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cartPanel {
    width: 30%;
    height: 100%;
    background: white;
    font-family: 'MontserratRegular', sans-serif;
    overflow-y: auto;
    -ms-overflow-style: none;
}

.cartPanel::-webkit-scrollbar {
    display: none;
}

.mainCart {
    margin: 5.5rem 1rem 1rem 1rem;
}

.totalPriceContainer {
    margin-top: 1rem;
}

.cartItemHolder {
    margin-top: 2rem;
}

.actionButtonsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}