.notFoundContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messageContainer {
    font-family: 'MontserratRegular', sans-serif;
    font-size: 1.5rem;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}